@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fafafa;
    --foreground: #0f110c;

    --background-secondary: #feffdc;

    --card: #fafafa;
    --card-foreground: #0f110c;

    --popover: rgba(255, 200, 0, 0.15);
    --popover-foreground: #0f110c;

    --primary: #993300;
    --primary-foreground: #fafafa;

    --secondary: #b4b4be;
    --secondary-foreground: #0f110c;

    --accent: #ffc700;
    --accent-foreground: #0f110c;

    /* --muted: #3c5a64; */
    --muted-foreground: #fafafa;
    --muted: #3c5a64da;

    --success: #00ff00;
    --success-foreground: #fafafa;

    --destructive: #ff0000;
    --destructive-foreground: #fafafa;

    --border: #0f110c;
    --input: #b4b4be;
    --ring: #d0ddfb;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
